            body { 
                background: url("icones/background_personal_infos.svg") no-repeat center center fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }

            .container{
                text-align: center
            }

            .input1{
                position: absolute;
                top: 161px;
                left : 180px;
                font-family: Telex;
                font-size: 28px;

            }

            .input2{
                position: absolute;
                top: 310px;
                left : 180px;

            }

            .input3{
                font-family: Telex;
                font-style: normal;
                font-weight: normal;
                font-size: 28px;
                position: absolute;
                top: 463px;
                left : 180px;

            }

            .checkboxeF{
                position: absolute;
                top: 609px;
                left: 271px;
                margin-right: 100px;
            }

            .checkboxeM{
                position: absolute;
                top: 609px;
                left: 493px;
                margin-right: 100px;
            }
            
            .hisOwn{
                position: absolute;
                top: 122px;
                left: 950px;
                margin-right: 100px;
            }
            
            .Ambulance{
                position: absolute;
                top: 220px;
                left: 950px;
                margin-right: 100px;
            }

            input[type=radio] {
                background: rgba(86, 204, 242, 0.56);
                box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                padding: 1.2em;
                -webkit-appearance: none;
            }

            input[type=radio]:checked {
                background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=) no-repeat center center;
                background-size: 30px 30px;
            }

            input[type=radio]:focus {
                outline-color: transparent;
            }
            
            .button{
                font-size:35px;
                border-radius:20px;
                border: 5px solid white;
                background-color:transparent;
                box-shadow:
                    0 1.9px 2.2px rgba(0, 0, 0, 0.02),
                    0 4.7px 5.3px rgba(0, 0, 0, 0.028),
                    0 8.8px 10px rgba(0, 0, 0, 0.035),
                    0 15.6px 17.9px rgba(0, 0, 0, 0.042),
                    0 29.2px 33.4px rgba(0, 0, 0, 0.05),
                    0 70px 80px rgba(0, 0, 0, 0.07)
                    ;
                text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
                color:white;
                width:230px;
                height:80px;
                margin:10px;
            }